@model Garage20.Models.Vehicle

@{
    ViewBag.Title = "Checkout";
}

<h2>Reciept</h2>


<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Regnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regnr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfWheels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfWheels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checkin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Checkin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checkout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Checkout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placing)
        </dd>

        <dt>
            Parking time
        </dt>

        <dd>
            @ViewBag.Parkingtime minutes
        </dd>

        <dt>
            Parking cost
        </dt>

        <dd>
            @ViewBag.Parkingcost kr
        </dd>
        <dt>
            VAT
        </dt>

        <dd>
            @ViewBag.ParkingVAT kr
        </dd>


    </dl>
    <hr />
    <h3>Are you sure you want to checkout this vehicle?</h3>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Checkout Vehicle" class="btn btn-default" /> <a href="#" onclick="window.print();return false;" class="btn btn-default">Print this page</a>  | 
            @Html.ActionLink("Back to Garage Overview", "Index")
        </div>
    }
</div>
