@model IEnumerable<Garage20.Models.Vehicle>

@{
    ViewBag.Title = "Garage Overview";
    var selectList = new SelectList(Enum.GetValues(typeof(Garage20.Models.VehicleType)),ViewBag.VehicleType);
    
}

@if (ViewBag.AllVehicles)
{
   <h2>Garage</h2>
}
else
{
    <h2>@ViewBag.VehicleType</h2>
}

<p>
    @Html.ActionLink("Check In Vehicle", "Create")
</p>
    @using (Html.BeginForm())
    {
        
    <p>
        Reg nr: @Html.TextBox("SearchString") Color: @Html.TextBox("colorString") No wheels: @Html.TextBox("noWheelsString", "", new { @type = "number", min = "0", max = "100" }) Vehicle Type: @Html.DropDownList("vehicleTypes", "All")<br>
        <!--@Html.DropDownList("VehicleType",selectList,"All", new { onChange = $"document.location.href = '?filter=' + this.value" })<br>-->
        <br/>
        <div>
            @Html.RadioButton("view", "True", isChecked: true)    Restricted overview
            @Html.RadioButton("view", "False", isChecked: false)    Detailed overview
        </div>
        <br/>

        <br/>
        <input type="submit" value="Search" />
        <br/>
    </p>
    }
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Member.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleCategory.Category)
        </th>
        <th>
            <a href="?orderBy=regnr&SearchString=@ViewBag.SearchString&colorString=@ViewBag.ColorString&noWheelsString=@ViewBag.NumberOfWheels&vehicleTypes=@ViewBag.VehicleType&restrictedview=@ViewBag.RestrictedView">
                @Html.DisplayNameFor(model => model.Regnr)
            </a>
        </th>
@if (ViewBag.RestrictedView != "true")
{
        <th>
            <a href="?orderBy=color&SearchString=@ViewBag.SearchString&colorString=@ViewBag.ColorString&noWheelsString=@ViewBag.NumberOfWheels&vehicleTypes=@ViewBag.VehicleType&restrictedview=@ViewBag.RestrictedView">
                @Html.DisplayNameFor(model => model.Color)
            </a>
        </th>
        <th>
            <a href="?orderBy=wheels&SearchString=@ViewBag.SearchString&colorString=@ViewBag.ColorString&noWheelsString=@ViewBag.NumberOfWheels&vehicleTypes=@ViewBag.VehicleType&restrictedview=@ViewBag.RestrictedView">
                @Html.DisplayNameFor(model => model.NumberOfWheels)
            </a>
        </th>
}
        <th>
            <a href="?orderBy=checkin&SearchString=@ViewBag.SearchString&colorString=@ViewBag.ColorString&noWheelsString=@ViewBag.NumberOfWheels&vehicleTypes=@ViewBag.VehicleType&restrictedview=@ViewBag.RestrictedView">
                @Html.DisplayNameFor(model => model.Checkin)
            </a>
        </th>
@if (ViewBag.RestrictedView != "true")
{
        <th>
            Parking time
        </th>
        <th>
            <a href="?orderBy=placing&SearchString=@ViewBag.SearchString&colorString=@ViewBag.ColorString&noWheelsString=@ViewBag.NumberOfWheels&vehicleTypes=@ViewBag.VehicleType&restrictedview=@ViewBag.RestrictedView">
                @Html.DisplayNameFor(model => model.Placing)
            </a>
        </th>
}
        <th>


        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleCategory.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regnr)
            </td>
@if (ViewBag.RestrictedView != "true")
{
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfWheels)
            </td>
}
            <td>
                @Html.DisplayFor(modelItem => item.Checkin)
            </td>
@if (ViewBag.RestrictedView != "true")
{
            <td>
                @Garage20.Utilities.Utility.MinutesToHour((DateTime.Now - (item.Checkin)).TotalMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placing)
            </td>
}
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Checkout", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
