@model IEnumerable<Garage20.Models.Vehicle>

@{
    ViewBag.Title = "Garage Overview";
    var selectList = new SelectList(Enum.GetValues(typeof(Garage20.Models.VehicleType)),ViewBag.VehicleType);
    
}

@if (ViewBag.AllVehicles)
{
   <h2>Index</h2>
}
else
{
    <h2>@ViewBag.VehicleType</h2>
}

<p>
    @Html.ActionLink("Check In Vehicle", "Create")
    @using (Html.BeginForm())
    {
        
    <p>
        Reg nr: @Html.TextBox("SearchString") Color: @Html.TextBox("colorString") No wheels: @Html.TextBox("noWheelsString", "", new { @type = "number", min = "0", max = "16" }) Vehicle Type: @Html.DropDownList("VehicleType",selectList,"All", new { onChange = $"document.location.href = '?filter=' + this.value" })<br>
        <br>
        <input type="submit" value="Search" />
        <br>
    </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            <a href="?orderBy=regnr">
                @Html.DisplayNameFor(model => model.Regnr)
            </a>
        </th>
        <th>
            <a href="?orderBy=color">
                @Html.DisplayNameFor(model => model.Color)
            </a>
        </th>
        <th>
            <a href="?orderBy=wheels">
                @Html.DisplayNameFor(model => model.NumberOfWheels)
            </a>
        </th>
        @if (ViewBag.AllVehicles)
        {
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            <!--@Html.DropDownList("VehicleType", selectList, "All")-->
            </th>
        }
        <th>
            <a href="?orderBy=checkin">
                @Html.DisplayNameFor(model => model.Checkin)
            </a>
        </th>
        <th>
            Parking time
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Regnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfWheels)
            </td>
            @if (ViewBag.AllVehicles)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Checkin)
            </td>
            <td>
                @Garage20.Utilities.Utility.MinutesToHour((DateTime.Now - (item.Checkin)).TotalMinutes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Checkout", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
