@model IEnumerable<Garage20.Models.Vehicle>

@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

@if (ViewBag.VehicleCount > 0)
{
<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Vehicle count
        </dt>

        <dd>
            @ViewBag.Count
        </dd>

        <dt>
            Number Of Wheels
        </dt>

        <dd>
            @ViewBag.WheelCount
        </dd>
        <dt>
            Number of vehicles
        </dt>

        <dd>
            @ViewBag.VehicleCount
        </dd>
        <dt>
            Total parkingtime
        </dt>

        <dd>
            @ViewBag.ParkingtimeHour
        </dd>


        <dt>
            Parking amount
        </dt>

        <dd>
            @ViewBag.Parkingcost kr
        </dd>
    </dl>
</div>
}
else
{
    <h3>The Garage is empty!</h3>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
